/** CSS STYLE **/
html {
  --white: #fff;
  --semitransparent-white: #d7ccc0;
  --light: #f5f4f0;
  --primary: #fe8a02;
  --primary-dark: #42413c;
  --dark: #2a2626;
  --semitransparent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
  --font-size-base: 16px;
  --font-size-h1: 72px;
  --font-size-h2: 60px;
  --font-size-h3: 34px;
  --font-size-h4: 14px;
  --font-family-main: 'Open Sans', sans-serif;
  --font-family-headings: 'Neucha', cursive;
  --content-width: 1110px;
}

@font-face {
  font-weight: normal;
  font-family: OpenSans;
  src: url(../assets/fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-weight: normal;
  font-family: Neucha;
  src: url(../assets/fonts/Neucha-Regular.ttf);
}

body {
  margin: 0 auto;

  color: var(--dark);
  font-size: var(--font-size-base);
  font-family: var(--font-family-main);
  line-height: 1.6em;
}

p {
  margin: 0;
}

/* POSITION & DISPLAY */

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.d-flex {
  display: flex;
}

/* TEXT */

.heading-1,
.heading-2,
.heading-3,
.heading-4 {
  margin: 0;
  padding: 0;

  font-weight: normal;
  font-family: var(--font-family-headings);

  line-height: 1.2em;
}

.heading-1 {
  font-size: var(--font-size-h1);
}

.heading-2 {
  font-size: var(--font-size-h2);
}

.heading-3 {
  font-size: var(--font-size-h3);
}

.heading-4 {
  font-size: var(--font-size-h4);
  font-family: var(--font-family-main);
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

/* COLORS */

.color-white {
  color: var(--white);
}

.color-semitransparent-white {
  color: var(--semitransparent-white);
}

.color-light {
  color: var(--light);
}

.color-primary {
  color: var(--primary);
}

.color-primary-dark {
  color: var(--primary-dark);
}

.color-dark {
  color: var(--dark);
}

.color-semitransparent-dark {
  color: var(--semitransparent-dark);
}

.color-brown {
  color: var(--brown);
}

.color-blue {
  color: var(--blue);
}

/* BACKGROUNDS */

.bg-primary-dark {
  background-color: var(--primary-dark);
}

/* MARGINS & PADDINGS */

.mt-7 {
  margin-top: 7px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-95 {
  margin-bottom: 95px;
}

.mr-30 {
  margin-right: 30px;
}

.pt-100 {
  padding-top: 100px;
}

/* +++++++++++++++++++++++++++ */

.container {
  width: var(--content-width);
  margin: 0 auto;
  padding: 100px 0;
}

.btn {
  display: inline-block;
  box-sizing: border-box;
  width: 148px;
  height: 49px;
  padding: 12px 24px;

  cursor: pointer;
}

.btn-primary {
  color: var(--white);
  font-weight: 700;

  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  background-color: var(--primary);
}

/* HEADER */

.bg-img::before {
  position: absolute;
  z-index: -1;

  width: 100%;
  min-height: 929px;

  background-image: url("../assets/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0.1;

  content: "";
}

.bg-light::after {
  position: absolute;
  top: 0;
  z-index: -2;

  width: 100%;
  min-height: 929px;

  background-color: var(--light);

  content: "";
}

.header-img {
  top: 55px;
  right: -270px;

  height: 525px;
}

.column {
  flex: 1 1 50%;

  padding-right: 20px;
}

/* VIDEO SECTION */

.video {
  width: 919px;
  height: 569px;

  border: none;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}
