/** CSS STYLE **/
html {
  --white: #fff;
  --secondary-white: #d7ccc0;
  --light: #f5f4f0;
  --primary: #fe8a02;
  --primary-hover: #ea7600;
  --primary-dark: #42413c;
  --dark: #2a2626;
  --secondary-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
  --font-size-base: 16px;
  --font-size-h1: 72px;
  --font-size-h2: 60px;
  --font-size-h3: 34px;
  --font-size-small-h3: 14px;
  --font-family-main: 'Open Sans', sans-serif;
  --font-family-headings: 'Neucha', cursive;
  --content-width: 1110px;
}

@font-face {
  font-weight: normal;
  font-family: OpenSans;
  src: url(../assets/fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-weight: normal;
  font-family: Neucha;
  src: url(../assets/fonts/Neucha-Regular.ttf);
}

body {
  margin: 0 auto;

  color: var(--dark);
  font-size: var(--font-size-base);
  font-family: var(--font-family-main);
  line-height: 1.6;
}

/* TEXT */

h1,
h2,
h3 {
  color: var(--primary);
}

p {
  margin: 0;
}

.heading-1,
.heading-2,
.heading-3,
.heading-small-3 {
  margin: 0;
  padding: 0;

  font-weight: normal;
  font-family: var(--font-family-headings);

  line-height: 1.2;
}

.heading-1 {
  font-size: var(--font-size-h1);
}

.heading-2 {
  font-size: var(--font-size-h2);
}

.heading-3 {
  font-size: var(--font-size-h3);
}

.heading-small-3 {
  font-weight: 700;
  font-size: var(--font-size-small-h3);
  font-family: var(--font-family-main);
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.decoration-none {
  text-decoration: none;
}

.list-style-none {
  list-style: none;
}

/* POSITION & DISPLAY */

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.top--200 {
  top: -200px;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.flex-wrap {
  flex-wrap: wrap;
}

/* MARGINS & PADDINGS */

.m-0 {
  margin: 0;
}

.mt-7 {
  margin-top: 7px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-100 {
  margin-top: 100px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-28 {
  margin-bottom: 28px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-95 {
  margin-bottom: 95px;
}

.mb--200 {
  margin-bottom: -200px;
}

.mr-30 {
  margin-right: 30px;
}

.p-0 {
  padding: 0;
}

.pt-5 {
  padding-top: 5px;
}

.pt-100 {
  padding-top: 100px;
}

.pr-20 {
  padding-right: 20px;
}

.pr-30 {
  padding-right: 30px;
}

.pb-5 {
  padding-bottom: 5px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pl-10 {
  padding-left: 10px;
}

/* COLORS */

.color-white {
  color: var(--white);
}

.color-secondary-light {
  color: var(--secondary-white);
}

.color-light {
  color: var(--light);
}

.color-primary {
  color: var(--primary);
}

.color-primary-dark {
  color: var(--primary-dark);
}

.color-dark {
  color: var(--dark);
}

.color-secondary-dark {
  color: var(--secondary);
}

.color-brown {
  color: var(--brown);
}

.color-blue {
  color: var(--blue);
}

/* BACKGROUNDS */

.bg-img::before {
  position: absolute;
  z-index: -1;

  width: 100%;
  height: 100%;

  background-image: url("../assets/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0.1;

  content: "";
}

.bg-light::after {
  position: absolute;
  top: 0;
  z-index: -2;

  width: 100%;
  height: 100%;

  background-color: var(--light);

  content: "";
}

.bg-dark::after {
  position: absolute;
  top: 0;
  z-index: -2;

  width: 100%;
  height: 100%;

  background-color: var(--brown);

  content: "";
}

.bg-primary-dark {
  background-color: var(--primary-dark);
}

.bg-brown {
  background-color: var(--brown);
}

.bg-white {
  background-color: var(--white);
}

/* COMMON */

.container {
  max-width: var(--content-width);
  margin: 0 auto;
}

.column {
  flex: 1 50%;
}

.btn {
  display: inline-block;

  box-sizing: border-box;
  width: 148px;
  height: 49px;
  padding: 12px 24px;

  cursor: pointer;
}

.btn-primary {
  color: var(--white);
  font-weight: 700;

  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  background-color: var(--primary);
}

.btn-primary:hover {
  background-color: var(--primary-hover);
}

/* ==================================================================================== */

/* HEADER */

.header-img {
  top: 55px;
  right: -270px;

  height: 525px;
}

/* VIDEO SECTION */

.video {
  z-index: 10;

  width: 919px;
  height: 569px;

  border: none;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

/* NAVIGATION */

.cards-wrapper {
  margin-left: -30px;
}

.nav-heading {
  margin: 0;
  margin-top: 5px;
  padding: 0;

  font-weight: normal;
  font-size: 52px;
  font-family: var(--font-family-headings);
  line-height: 1.2;
}

.card {
  flex: 1 0 350px;

  max-width: 350px;

  margin-bottom: 20px;
  margin-left: 30px;
}

.card-bg-light {
  background-color: var(--light);
}

.card:hover:not(:first-of-type) {
  background-color: var(--primary);
}

.card:hover:not(:first-of-type) * {
  color: var(--white);
}

.card-link {
  display: block;

  padding: 24px;
}

.card-number {
  display: inline-block;

  margin-top: 4px;
  margin-bottom: 40px;

  font-size: 64px;
  font-family: var(--font-family-headings);
  line-height: 1;
}

.card-title {
  margin-bottom: 12px;

  font-weight: normal;
  font-family: var(--font-family-headings);
}

/* COGNITIVE BIASES */

.order--1 {
  order: -1;
}

.article-intro {
  font-size: 24px;
  font-family: var(--font-family-headings);
  line-height: 1.2;
}

.article-text {
  font-size: var(--font-size-h3);
  font-family: var(--font-family-headings);
  line-height: 1.2;
}
